


{% extends "index.html" %}
{% block content %}
<br>
<br>

<form  method="post">
  {{ form.hidden_tag() }}

  {{ form.name.label }} {{ form.name() }}
  <br>
  {{ form.surname.label }} {{ form.surname() }}
  <br>
  {{ form.email.label }} {{ form.email() }}
  <br>
  {{ form.username.label }} {{ form.username() }}
  <br>
  {{ form.password.label }} {{ form.password() }}
  <br>
  <br>
  {{ form.submit_button() }}

</form>
<br>
<p><a href="{{ url_for('login') }}" class="badge badge-info" >Already have an account? Sign up here.</a></p>
{% endblock %}